.employer-register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .employer-register-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    padding: 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .employer-register-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .employer-register-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .employer-register-button {
    width: 100%;
    padding: 12px;
    background-color: #6d88ff;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .employer-register-button:hover {
    background-color: #5b76e8;
  }
  