.hackaStoreContainer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333;
}

.hackaStoreContainer .title {
    font-size: 50px;
    font-weight: bold;
    margin-top: 200px;
    text-align: left;
    width: 700px;
}

.hackaStoreContainer .subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    width: 400px;
    text-align: left;
}

.hackaStoreContainer .searchContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 67px;
    margin-top: 250px;
    width: 1000px;
}

.hackaStoreContainer .searchInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    height: 20px;
}

.hackaStoreContainer .searchButton {
    background-color: #60a5fa;
    color: white;
    font-weight: 700;
    border: none;
    padding: 13px 35px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    width: 200px;
}

.hackaStoreContainer .searchButton:hover {
    background-color: rgba(85, 102, 232, 0.846);
}

.hackaStoreContainer .content {
    display: flex;
    gap: 20px;
}

.hackaStoreContainer .hackafilters {
    width: 250px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 200px;
    height: 450px;
}

.hackaStoreContainer .hackafilters h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.hackaStoreContainer .hackafilters label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
}

.hackaStoreContainer .hackathonList {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 200px;
}

.hackaStoreContainer .hackathonCard {
    display: flex;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    gap: 15px;
    width: 600px;
    margin-left: 200px;
}

.hackaStoreContainer .hackathonImage {
    width: 80px;
    height: 80px;
    background: #ccc;
    border-radius: 5px;
}

.hackaStoreContainer .hackathonDetails {
    flex: 1;
}

.hackaStoreContainer .hackathonDetails h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.hackaStoreContainer .hackathonDetails p {
    margin: 8px 0;
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
}

.hackaStoreContainer .hackathonDetails p svg {
    margin-right: 12px;
    color: #0070f3;
    min-width: 18px;
}

.hackaStoreContainer .status {
    font-size: 12px;
    color: #4CAF50;
    font-weight: bold;
}
